<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Rate Your Music{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/albums/new">Add a New Album</a></li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Category Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if artists}}
                {{#each artists}}
                    <li><a href="/artists/{{id}}">{{name}}</a></li>
                {{/each}}
                <li><a href="/artists/new">Add an Artist</a></li>

            {{else}}
                <li><a href="/artists/new">Add an Artist</a></li>
            {{/if}}
        </ul>
    </li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/banner.png" width="100%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
        <h1>Welcome to Rate Your Music.</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <!--<div class="container">-->
            <!--<hr>-->
            <!--<p class="text-muted">-->
                <!--<a href="/categories/delete">delete all categories & tasks</a><br>-->
                <!--<a href="/tasks/delete">delete all tasks</a>-->
            <!--</p>-->
        <!--</div>-->
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}