{{#partial "content"}}
    <h1>Edit Details for review</h1>
    <form action="/reviews/{{review.id}}" method="post">
        <br>
        <label for="rating">Rating</label>
        <input id="newReviewRating" name="newReviewRating" type="number" value="{{review.rating}}">
        <br>
        <label for="author">Author</label>
        <input id="newReviewAuthor" name="newReviewAuthor" type="text" value="{{review.author}}">
        <br>
        <label for="comment">Album Release Date</label>
        <input id="newReviewComment" name="newReviewComment" type="text" value="{{review.comment}}">
        <br>
        <button type="submit" class="btn btn-default">Save Changes</button>
    </form>
{{/partial}}

{{> layout.hbs}}